[submodule "AtosLearning"]
	path = AtosLearning
	url = https://github.com/kiwis08/AtosLearning
[submodule "JardinAmanecer"]
	path = JardinAmanecer
	url = https://github.com/kiwis08/Jardin_Amanecer
[submodule "CircuiTec"]
	path = CircuiTec
	url = https://github.com/kiwis08/CircuiTec
[submodule "AtosLearningAPI"]
	path = AtosLearningAPI
	url = https://github.com/MarioBros-TC2005B/AtosLearningAPI
[submodule "StockUpBackend"]
	path = StockUpBackend
	url = https://github.com/StockUp-TEC/stockup-backend
